    Data Types and Structures


Q1. What are data structures, and why are they important ?
  - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use. Choosing the right data structure significantly impacts the efficiency and performance of your program. Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

Q2.Explain the difference between mutable and immutable data types with examples
   - Mutable Data Types Can be changed after creation.
Examples:

Lists: my_list = [1, 2, 3]; my_list[0] = 10 → [10, 2, 3]

Dictionaries: my_dict = {'a': 1}; my_dict['a'] = 2 → {'a': 2}

Sets: my_set = {1, 2}; my_set.add(3) → {1, 2, 3}

Immutable Data Types Cannot be changed after creation; modifications create a new object.

Examples:

Integers: x = 10; x = x + 5 → 15 (new object)

Strings: s = "hello"; s = s + " world" → "hello world" (new object)

Tuples: my_tuple = (1, 2); my_tuple = my_tuple + (3,) → (1, 2, 3) (new object)

Key Difference Mutable: Can modify the same object.

Immutable: Modifications create a new object.

Q3.What are the main differences between lists and tuples in Python ?
  - Tuples are immutable objects and lists are mutable objects. Once defined, tuples have a fixed length and lists have a dynamic length. Tuples use less memory and are faster to access than to lists. Tuple syntax uses round brackets or parenthesis, and list syntax uses square brackets.

Q4. Describe how dictionaries store data
    - The dictionary consists of a number of buckets. Each of these buckets contains the hash code of the object that contains the key-value pair. A pointer to the key object and a pointer to the value object

Q5.Why might you use a set instead of a list in Python ?

 - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

Q6.What is a string in Python, and how is it different from a list ?
 - A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.

Q7. How do tuples ensure data integrity in Python ?
   - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

Q8.What is a hash table, and how does it relate to dictionaries in Python ?
   -A hash table is a data structure that allows for quick insertion, deletion, and retrieval of data.A hash table is the data structure that dictionaries are built on top of in Python. In a lower level language, you would first learn how to create hash tables, then use that knowledge to develop dictionaries.

Q9.Can lists contain different data types in Python ?
 - In a list, you can store objects of any type. You can also mix objects of different types within the same list, although list elements often share the same type.

Q10.Explain why strings are immutable in Python
 - Memory Efficiency: Since immutable objects cannot change their value, Python can optimize memory usage. Reusing the same immutable object across the program whenever possible reduces memory overhead. Thread Safety: Immutability provides inherent thread safety.

Q11.What advantages do dictionaries offer over lists for certain tasks ?
 - Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

Q12.Describe a scenario where using a tuple would be preferable over a list
 - Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.

Q13.How do sets handle duplicate values in Python ?
 - Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered.

Q14.How does the “in” keyword work differently for lists and dictionaries ?
 -The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list. The execution time of in for values() is about the same as for lists. Key-value pairs are unique.

Q15.Can you modify the elements of a tuple? Explain why or why not
 - Tuples are immutable, so once they are created, we can't change, add, or remove their elements. If we try to modify a tuple, it will throw a TypeError.

Q16.What is a nested dictionary, and give an example of its use case ?
 - A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

Q17.Describe the time complexity of accessing elements in a dictionary
 - The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

Q18.In what situations are lists preferred over dictionaries ?
 - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
# Practical Questions

In [33]:
#1.Write a code to create a string with your name and print it
Name= "Ahtesham"
print(Name)

Ahtesham

In [1]:
#2.Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [2]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[0:3])

Pyt

In [3]:
#4.Write a code to convert the string "hello" to uppercase
text="hello"
uppercased_text = text.upper()
print(uppercased_text)

HELLO

In [4]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [5]:
#6.Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [16]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [17]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange')
print('kiwi' in my_tuple)

False

In [18]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [19]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [20]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [21]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [22]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [23]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [24]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [26]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [28]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [29]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()

print("Random Numbers:", random_numbers)

Random Numbers: [4, 10, 38, 56, 78]

In [30]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [31]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
#30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)

print("Set:", my_set)

Set: {'cherry', 'elderberry', 'date', 'apple', 'banana'}